---
import Title from "@components/common/Title.astro"
import HomeLayout from "@layouts/HomeLayout.astro"
import { Icon } from "astro-icon"
---

<HomeLayout title="Sobre mí">
  <section class="max-w-4xl mx-auto space-y-2">
    <div class="font-inter max-w-prose">
      <p>
        Soy una persona apasionada por el Desarrollo Web y todo lo que involucra
        crear un producto o mejorarlo, esto para poder entregar un producto que
        impacte de manera positiva al publico, ademas de que sea reconocida por
        la pagina web en la cual involucrado <Icon
          name="system-uicons:face-happy"
          class="w-7 inline"
        />
      </p>
    </div>
    <a
      href=""
      class="rounded block w-fit font-semibold font-titillium bg-primary py-1 px-4 bg-opacity-20 text-primary border-2 border-transparent hover:border-primary transition-colors"
      >VER MAS</a
    >
  </section>
</HomeLayout>
