---
import Title from "../common/Title.astro"
---

<section class="mx-auto space-y-12 wrapper">
  <Title>Experiencia laboral</Title>
  <article class="w-full flex gap-8 font-inter pb-12 max-w-4xl mx-auto">
    <div>
      <span class="text-xl block border-b-2 border-primary w-fit font-medium"
        >Autoparti</span
      >
      <span class="font-medium mt-2 block">Junio 2022 - Presente</span>
    </div>
    <div>
      <span class="text-2xl font-bold">Lider de proyecto</span>
      <p class="max-w-prose mt-1">
        Encargado de iniciar el desarrollo de la Web y Panel Administrativo,
        ademas de dar apoyo en las desiciones de base de datos, diseño y core de
        las webs.
      </p>
      <a
        href="https://www.autoparti.com.co/"
        target="_blank"
        class="flex w-fit gap-1 items-center font-medium group ml-4 mt-4"
      >
        <span class="pb-0.5 group-hover:text-primary transition-colors"
          >Ver mas</span
        >
        <svg
          class="w-4 h-4"
          viewBox="0 0 36 37"
          xmlns="http://www.w3.org/2000/svg"
          ><path
            d="M20.85 33.2959H15.9C14.55 33.2959 13.5 32.5459 12.9 31.4959C12.3 30.2959 12.45 28.9459 13.2 27.8959L15.45 24.7459H6.9C4.65 24.7459 3 22.9459 3 20.8459V15.8959C3 13.6459 4.8 11.9959 6.9 11.9959H15.15L13.05 8.6959C12.3 7.6459 12.15 6.2959 12.75 5.0959C13.35 4.0459 14.55 3.2959 15.9 3.2959H21C22.65 3.2959 24.3 4.0459 25.2 5.5459L32.1 15.2959C33.3 17.0959 33.3 19.4959 32.1 21.2959L25.2 31.0459C24.15 32.5459 22.65 33.2959 20.85 33.2959ZM6.9 14.8459C6.45 14.8459 6 15.2959 6 15.8959V20.8459C6 21.2959 6.45 21.7459 6.9 21.7459H18C18.6 21.7459 19.05 22.0459 19.35 22.4959C19.65 22.9459 19.5 23.5459 19.2 23.9959L15.3 29.5459C15.15 29.6959 15.15 29.9959 15.3 29.9959C15.3 30.1459 15.45 30.2959 15.75 30.2959H20.85C21.6 30.2959 22.2 29.9959 22.65 29.3959L29.55 19.6459C30.15 18.8959 30.15 17.8459 29.55 17.0959L22.65 7.3459C22.35 6.5959 21.6 6.2959 20.85 6.2959H15.9C15.6 6.2959 15.45 6.4459 15.45 6.5959C15.45 6.7459 15.3 6.8959 15.45 7.0459L19.35 12.5959C19.65 13.0459 19.65 13.6459 19.5 14.0959C19.2 14.5459 18.75 14.8459 18.15 14.8459H6.9Z"
            class="group-hover:fill-primary transition-colors"></path></svg
        >
      </a>
    </div>
  </article>
</section>
