---
import Download from "../common/Icons/Download.astro"
import SocialMedia from "../common/SocialMedia.astro"
---

<section class="bg-primary w-full flex justify-between h-screen">
  <div class="wrapper flex flex-col justify-center items-center h-full">
    <h1
      class="text-7xl lg:text-9xl text-center text-gray-100 font-black font-titillium"
    >
      CAMILO MORA
    </h1>
    <span
      class="text-gray-100 pl-1 lg:pl-2 font-titillium text-xl lg:text-3xl font-bold"
      >WEB DEVELOPER</span
    >
    <div class="flex gap-4 items-center mt-4">
      <button
        class="rounded font-titillium uppercase font-medium flex gap-1 items-center bg-gray-100 py-1 px-4 bg-opacity-10 text-gray-100 border-2 border-transparent hover:border-gray-100 transition-colors"
      >
        <Download />
        <span>Descarga CV</span>
      </button>
      <SocialMedia newClass="flex text-gray-100" />
    </div>
  </div>
</section>
<section class="h-1/6"></section>
