---
import ProjectCard from "../common/cards/ProjectCard.astro"
import Title from "../common/Title.astro"
---

<section class="wrapper mx-auto space-y-12">
  <Title>Projectos</Title>
  <ProjectCard
    title="Ecommerce"
    img="ecommerce.png"
    stack={["nextjs", "tailwind", "typescript"]}
  >
    <p>Proyecto realizado para aprender mas sobre NextJS y Typescript</p>
  </ProjectCard>
</section>
