---
import ProjectCard from "../common/cards/ProjectCard.astro"
import Title from "../common/Title.astro"
---

<section class="wrapper mx-auto space-y-12">
  <!-- TODO: Add other projects -->
  <Title>Projectos destacados</Title>
  <ProjectCard
    title="Ecommerce"
    urlGithub="https://github.com/CamiloEMP/e-commerce"
    urlWeb="https://e-commerce-opal-phi.vercel.app/"
    img="ecommerce.png"
    stack={["nextjs", "tailwind", "typescript"]}
  >
    <p>Proyecto realizado para aprender mas sobre NextJS y Typescript</p>
  </ProjectCard>
  <ProjectCard
    title="Ecommerce"
    urlGithub=""
    urlWeb=""
    img="ecommerce.png"
    stack={["nextjs", "tailwind", "typescript"]}
  >
    <p>Proyecto realizado para aprender mas sobre NextJS y Typescript</p>
  </ProjectCard>
  <ProjectCard
    title="Ecommerce"
    urlGithub=""
    urlWeb=""
    img="ecommerce.png"
    stack={["nextjs", "tailwind", "typescript"]}
  >
    <p>Proyecto realizado para aprender mas sobre NextJS y Typescript</p>
  </ProjectCard>
</section>
