---
import HomeLayout from "@layouts/HomeLayout.astro"
import ProjectCard from "@components/common/cards/ProjectCard.astro"
---

<HomeLayout title="Projectos destacados">
  <ProjectCard
    title="Ecommerce"
    urlGithub="https://github.com/CamiloEMP/e-commerce"
    urlWeb="https://e-commerce-opal-phi.vercel.app/"
    img="ecommerce.png"
    stack={["nextjs", "tailwind", "typescript"]}
  >
    <p>Proyecto realizado para aprender mas sobre NextJS y Typescript</p>
  </ProjectCard>
  <ProjectCard
    title="Ecommerce"
    urlGithub=""
    urlWeb=""
    img="ecommerce.png"
    stack={["nextjs", "tailwind", "typescript"]}
  >
    <p>Proyecto realizado para aprender mas sobre NextJS y Typescript</p>
  </ProjectCard>
  <ProjectCard
    title="Ecommerce"
    urlGithub=""
    urlWeb=""
    img="ecommerce.png"
    stack={["nextjs", "tailwind", "typescript"]}
  >
    <p>Proyecto realizado para aprender mas sobre NextJS y Typescript</p>
  </ProjectCard>
</HomeLayout>
