---
import Title from "@components/common/Title.astro"
import type { IStacks } from "@components/Stack.astro"
import Stack from "@components/Stack.astro"
import { technologies } from "@constants/technologies"

const stacks: IStacks = {
  main: [],
  worked: [],
  scencials: []
}

Object.entries(technologies).forEach(([_, tech]) => {
  if (tech.category === "main") {
    stacks.main.push(tech)
  }
  if (tech.category === "worked") {
    stacks.worked.push(tech)
  }
  if (tech.category === "scencials") {
    stacks.scencials.push(tech)
  }
})
---

<section class="wrapper mx-auto space-y-12">
  <Title>Tecnologias</Title>
  <div class="flex gap-8 max-w-5xl flex-wrap mx-auto">
    <Stack stack={stacks.main}>Uso principalmente</Stack>
    <Stack stack={stacks.worked}>He trabajado con</Stack>
    <Stack stack={stacks.scencials}>Claramente las uso</Stack>
  </div>
</section>
