---
import Experience from "../components/sections/Experience.astro"
import Hero from "../components/sections/Hero.astro"
import Layout from "../layouts/Layout.astro"
---

<Layout title="Welcome to Astro.">
  <main class="w-screen h-screen">
    <Hero />
    <Experience />
  </main>
</Layout>

<style></style>
