---
import "@fontsource/inter/500.css"
---

<header class="w-full font-inter fixed bg-primary text-gray-100 top-0">
  <nav class="p-4">
    <ul class="flex justify-center gap-4 font-medium">
      <li>EXPERIENCIA</li>
      <li>PROJECTOS</li>
      <li>SOBRE MI</li>
      <li>INTERESES</li>
    </ul>
  </nav>
</header>

<style>
  header {
  }
  h2 {
    font-family: "Titillium Web", sans-serif;
  }
</style>
